# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
venv/
*.o
*.a
*.so
*.dylib
*.d
*.gcda
*.gcno
*.gcov
*.swp
*.swo
*~
a.out
core
core.*
vgcore.*
build/
dist/
node_modules/
compile_commands.json
codigo_completo.txt
/piscines/
/milestone2/temp/
/milestone1/push_swap_final/
/milestone0/libft/main.c
/milestone1/ft_printf/main.c
/milestone1/ft_printf/ft_printf
/milestone1/get_next_line/main.c
/milestone1/get_next_line/gnl
/milestone1/push_swap/push_swap
/milestone1/push_swap/checker
