# Archivos de configuración del editor
.clangd
compile_flags.txt

# Logico
.gitignore

# Binarios, objetos y main
*.o
*.a
*.out
*.so
main*.c

# Archivos temporales
*.swp
.DS_Store

# Directorios
/libftTester
